{% extends "base.html" %}
{% block title %}Pagina Inicial{% endblock title %}
{% block content %}
    <p class="p-2">Lista de  Entrenadores</p>
    <div class="row">
        {% for trainer in trainers %}
        <div class="card mb-3" style="max-width: 540px;">  
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-fluid rounded-start" src="{{trainer.picture.url}}" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{trainer | capfirst}}</h5>
                        <p class="card-text">Nivel: {{trainer.level}}</p>
                        <a href="/trainer/{{trainer.id}}" class="btn btn-primary">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        {% if user.is_authenticated %}
                            <a href="/edit_trainer/{{trainer.id}}" class="btn btn-primary">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <a href="/delete_trainer/{{trainer.id}}" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        {% endif %}  
                      </div>
                    
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
{% endblock content %} 



        <img src="..."  alt="...">
      </div>
        
      </div>
    </div>
  </div>